.Use {
    width: 100%;
    min-height: 100vh;
    background: url('../../assets/Backgrounds/SL-090119-22970-01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    font-family: "Kanit", sans-serif;
    font-style: normal;
    padding-bottom: 150px;

}

.perfil {

    width: 95%;
    background-color: #0000005e;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    gap: 10px;
}
.perfil span{
    font-weight: bold;
    font-size: 25px;
    color: #ddddddc7;
}
.perfil img{
    max-width: 200px;
    width: 100px;
}
.Equipe {
    width: 100%;
    background-color: #0000005e;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.itens{
    width: 95%;
    background-color: #0000005e;
    border-radius: 20px;
    padding: 20px 0;
    text-align: center;
    
}
.itens h3{
    font-size: 30px;
}
.itens ul{
    margin: 20px auto;
    padding: 0;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    color: #ddddddc7;
    font-size: 20px;
    font-weight: bold;
    gap: 10%;
}
.itens ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.itens img{
    width: 50px;
    height: 50px;
}
.Equipe .cards {
    background-color: transparent;
    gap: 5px;
}

.changeBackcard {
    width: 100%;
    background-color: #0000005e;
    border-radius: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.CB-Back{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.CB-Back img{
    margin: 20px 0;
    width: 184px;
    height: 284px;
    
    border-radius: 20px;
    border: 4px solid #707070;
}


.p-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p-bottom {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10%;
    row-gap: 10px;

}
.p-bottom h2{
    width: 100%;
}
.p-bottom span{
    width: 10%;
}
.Allcards,
.lendarias,
.OurCards {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 150px;
}

.Use h3,
.Use h2 {
    margin: 0;
    color: #fff;
}
.Use h2 {
    font-size: 25px;
}
.Use h3{
    font-size: 30px;
}

.EquipeB {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.exit{
    width: 95%;
    font-size: 20px;
    background-color: #0000005e;
    cursor: pointer;
    transition: 200ms;
}
.exit:hover{
    background-color: #ff2d2dec;
}


.soon{
    width: 95%;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.coming{
    position: absolute;
    z-index: 200;
    font-size: 60px;
    font-family: "Kanit", sans-serif;
    font-weight: bold;

}